* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem; 
  height: 100vh;
  position: relative;
}

.sect-one {
  padding: 1em;
  background-color: #F8CB2D;
  font-size: 0.7em;
  color: rgb(54, 52, 52);
}

.sect-one h1 {
  margin-left: 5em;
}

.myvideo {
  position: absolute;
   left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-body {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  color: aliceblue;
  position: absolute;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; 
}

.nav-title {
  font-size: 0.7em;
  padding: 1vh 2vh; 
   text-align: center;
}

.nav-menu {
  display: flex;
  padding: 1vh 2vh;
  flex-wrap: nowrap;  
}

.nav-menu a {
  text-decoration: none;
  margin: 0 2vw;
  font-size: 1.2rem;
}

.nav-menu_home1 {
  color: aliceblue;
}

.nav-menu_home {
  color: #ee5007;
}

.nav-menu a:hover {
  color: #ee5007
}

.below-nav {
  position: absolute;
  color: rgb(241, 236, 229);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;  
  width: 100%;
}

.below-nav p {
  font-size: 2vw;
}

.below-nav h1 {
  font-size: 4rem;
}

.reservation {
position: absolute;
opacity: .5;
z-index: 1;
top: 20em;
left: 5vw;
color: white;
 
}
.reservation img {
  height: 28vw;
}

.reservation h1,.reservation h2,.reservation h3 {

  position: absolute;
  font-size: 2em;
}


.reservation h1 {

  top: 14vw;
  left: 13vw;
  
}

.reservation h2 {
  top: 14vw;
  left: 27vw;
}

.reservation h3 {
  top: 14vw;
  left: 44vw;
}
.pluss {
  position: absolute;
  top:21vw;
  left: 8vw;
  cursor: pointer;
}

.minuss {
  position: absolute;
  top:21vw;
  left: 18vw;
  cursor: pointer;
}

  .counterbut  {
    white-space: nowrap;
    position: absolute;
    z-index: 3;
    background-color: #ee5007;
    color: white;
    padding: 1vw 3vw;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2em;
    top: 20vw;
    left: 50vw;
    text-align: center;
  }
  
  .counterbut:hover {
  
    background-color: #C01F27;
  }






